@{
    ViewData["Title"] = "Persona Eliminada";
}

<div class="alert alert-success text-center mt-4">
    <h2>Persona eliminada</h2>
    <br />
    @Html.ActionLink("Volver al listado", "Listado")
</div>
